<!DOCTYPE html> 
<html lang="es">
    <head>
        <link href="../css/styles.css" rel="stylesheet">
        <meta charset="UTF-8">
        <title>Sobre mi</title>
    </head>
    <body>
        <header>
            <img id="foto-aboutme" src="../img/fotoImv.jpg" alt="Foto ingrid">
            <nav>
                <a class = "curriculum" href="../index.html">Curriculum</a>
            </nav>
        </header>

        <main>
            <section class="description">
                <p>I am a biomedical engineer with experience in automation and functional testing</p>
                <p>I am very motivated in the activities I perform, proactive, with learning agility, problem solving, communication/team work skills, passionate about knowledge, responsible, and focused on results.</p>
            </section>
        </main>

        <footer id="footer-aboutme"> 
            <p>
                Ingrid Munera
                <span>                  
                    <a href="https://github.com/ingridmv24"><img src="../img/github-logo.png" alt="GitHub"></a>
                    <a href="https://www.linkedin.com/in/ingridmunera/"><img src="../img/linkedin-logo.png" alt="LinkedIn"></a>                   
                </span>
            </p>
        </footer>
    </body>
</html>