body{
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: fixed;
    width: 100%;
    z-index: 10;
}

#descuentos-header{
    background-color: #1CD1B0;
    padding: 10px 15px;
    margin: 0;
}

h1{
    background-color: #00669F;
    padding: 20px;
    margin: 0;
}

section{
    width: 27%;
    height: 700px;
    display: inline-block;
    background-color: #F3F3F3;
    border-radius: 10px 10px 0px 0px;
    margin: 100px 3%;
    text-align: center;
    margin-top: 200px;
    position: relative;
}

.background{
    height: auto;
    width: 100%;
}

.corazon-like{
    position: absolute;
    top: 20px;
    left: 20px;
}

.foto{
    border-radius: 100%;
    position: absolute;
    top: 230px;
    left: 175px;
}

h2{
    text-align: center;
    font-weight: 300;
    font-size: 30px;
    margin-top: 100px;
}

.parrafo-description{
    font-size: 19px;
    text-align: justify;
    margin: 0 40px;
    margin-bottom: 45px;
}

a{
    text-decoration: none;
    color: white;
    background-color: #00669F;
    padding: 20px 40px;
}

footer{
    background-color: #00669F;
    font-weight: normal;
    color: white;
    padding: 10px 10px;
}

